@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Poppins", serif;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #E5FFF4;
    color: #00331D;
}

p{
    line-height: 150%;
}

main{
    max-width: 800px;
    margin: 0 24px 24px;

}

figure{
    width: 100%;
    display: flex;
    justify-content: center;
}

img{
    max-width: 400px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    background-color: #FCFCFC;
    border-radius: 2px;
    margin-top: -50px;
    box-shadow: 4px 4px 8px 0px #00000018;
}

.card-text{
    display: flex;
    align-items: center;
    gap:12px
}


.card-text figure{
    min-width: 200px;
}

.card-text figure img{
    box-shadow: 4px 4px 8px 0px #00000018;
}

.fotogeral{
    transform: rotate(3deg);
}

.fotojuan{
    transform: rotate(-3deg);
}


@media (max-width: 600px){
    .card-text{
        flex-wrap: wrap;
    }
}
